<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova.lerong.camerawithclip" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cameraWithClip</name>
    <js-module name="cameraWithClip" src="www/cameraWithClip.js">
        <clobbers target="cordova.plugins.cameraWithClip" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cameraWithClip">
                <param name="ios-package" value="cameraWithClip" />
            </feature>
        </config-file>

        <source-file src="src/ios/cameraWithClip.m" />
        <header-file src="src/ios/PureCamera/cameraCancelDelegate.h" />


        <header-file src="src/ios/PureCamera/LLSimpleCamera.h" />
        <source-file src="src/ios/PureCamera/LLSimpleCamera.m" />

        <header-file src="src/ios/PureCamera/LLSimpleCamera+Helper.h" />
        <source-file src="src/ios/PureCamera/LLSimpleCamera+Helper.m" />

        <header-file src="src/ios/PureCamera/PureCamera.h" />
        <source-file src="src/ios/PureCamera/PureCamera.m" />

        <header-file src="src/ios/PureCamera/TOActivityCroppedImageProvider.h" />
        <source-file src="src/ios/PureCamera/TOActivityCroppedImageProvider.m" />

        <header-file src="src/ios/PureCamera/TOCropOverlayView.h" />
        <source-file src="src/ios/PureCamera/TOCropOverlayView.m" />

        <header-file src="src/ios/PureCamera/TOCroppedImageAttributes.h" />
        <source-file src="src/ios/PureCamera/TOCroppedImageAttributes.m" />

        <header-file src="src/ios/PureCamera/TOCropScrollView.h" />
        <source-file src="src/ios/PureCamera/TOCropScrollView.m" />

        <header-file src="src/ios/PureCamera/TOCropToolbar.h" />
        <source-file src="src/ios/PureCamera/TOCropToolbar.m" />

        <header-file src="src/ios/PureCamera/TOCropView.h" />
        <source-file src="src/ios/PureCamera/TOCropView.m" />

        <header-file src="src/ios/PureCamera/TOCropViewController.h" />
        <source-file src="src/ios/PureCamera/TOCropViewController.m" />

        <header-file src="src/ios/PureCamera/TOCropViewControllerTransitioning.h" />
        <source-file src="src/ios/PureCamera/TOCropViewControllerTransitioning.m" />

        <header-file src="src/ios/PureCamera/UIImage+CropRotate.h" />
        <source-file src="src/ios/PureCamera/UIImage+CropRotate.m" />

        <header-file src="src/ios/PureCamera/UIImage+FixOrientation.h" />
        <source-file src="src/ios/PureCamera/UIImage+FixOrientation.m" />


        <resource-file src="src/ios/PureCamera/PureCamera.bundle" />
        <resource-file src="src/ios/PureCamera/TOCropViewControllerLocalizable.strings" />

    </platform>
</plugin>
